.buy__ {
    background-color: var(--black);
}

.buy_container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

.buy__main-content {
    width: 976px;
    height: 717px;
    padding: 70px 0 70px 32px;
}

.buy__main-title {
   font-family: "Archangelsk";
    font-size: 62px;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 25px;
    width: 624px;
}

.buy__second-title {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    color: var(--aqua);
}

.byu__ul {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
    list-style: none;
}

.byu__ul li {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.byu__ul li div {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.buy__li-3 {
    margin-bottom: 70px;
}

.buy__logos {
    margin-top: 25px;
    width: 319px;
    height: 133px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.buy__logo1 {
    width: 62px;
    height: 35px;
    margin-right: 79px;
}

.buy__logo2 {
    width: 178px;
    height: 35px;
}

.buy__logo3 {
    width: 58px;
    height: 50px;
}

.buy__logo4 {
    width: 168px;
    height: 35px;
}