.event {
    background-color: var(--black);
}

.event__gradient-white-black {
    background-image: url(../../assets/img/main_sections/event/event__gradient-white-black.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70px;
}

.event__main-content {
    position: relative;
    padding-bottom: 70px;
}

.event__img-event {
    display: inline-block;
    width: 132px;
    height: auto;
    margin: 15px 32px 25px 0;
}

.event__img-event img {
    width: 100%;
    height: auto;
}

.event__title {
    display: inline-block;
    position: absolute;
    font-family: "Archangelsk";
    font-size: 62px;
    font-weight: 400;
    color: var(--white);
    margin-top: 70px;
}

.event__text {
    font-family: "Roboto";
    font-size: 18px;
    color: var(--white);
    line-height: 34px;
    width: 952px;
    font-weight: 400;
}

.event__text span {
    color: var(--aqua);
    font-weight: 700;
}

/* ----------- */

.event__form-images {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.event__form {
    width: 460px;
    height: auto;
    margin-right: 32px;
}

.event__input {
    width: 100%;
    height: 35px;
    background-color: var(--black);
    border-bottom: 1px solid var(--gray);
    margin-bottom: 35px;
    font-family: "Roboto";
    font-size: 18px;
    color: var(--white);
    font-weight: 300;
}

.event__input::placeholder {
    color: var(--white);
}

.event__input-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    border: 4px dashed var(--gray);
    margin-bottom: 35px;
}

.event__button-send {
    display: block;
    width: 192px;
    height: 59px;
    background-color: var(--yellow);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.event__checkbox {
    appearance: none;
    border: 1px solid var(--gray);
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.event__checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23F8F200' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    
    background-color: var(--black);
}

.event__checkbox__label {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 12px;
    color: var(--white);
    
}

/* ----------- */

.event__images {
    width: 788px;
    height: 456px;
    position: relative;
}

.event__images-BGimg {
    width: 788px;
    height: 456px;
    z-index: 1;
    position: absolute;
}

.event__yellow-Z {
    width: 460px;
    height: 456px;
    z-index: 2;
    position: absolute;
}

.event__blue-Z {
    width: 460px;
    height: 456px;
    z-index: 3;
    margin-left: 328px;
    position: absolute;
}

.event__yellow-Z img {
    width: 460px;
    height: 456px;
    z-index: 2;
}

.event__blue-Z img {
    width: 460px;
    height: 456px;
    z-index: 3;
    transform: scaleX(-1);
    transform: scaleY(-1);
}

.event__images-consoles {
    width: 624px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 25px 0 80px 164px;
    z-index: 6;
    position: absolute;
}

.event__images-xbox, .event__images-PS5 {
    width: 296px;
    height: auto;
}

.event__gradient-black-yellow {
    background-image: url(../../assets/img/main_sections/event/event__gradient-black-yellow.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70px;
}